@model IEnumerable<ContosoUniversity.Models.EnrollmentHist>

@{
    ViewData["Title"] = "Index";
}

<div id="chart-interaction-bar">
    <label class="control-label">Start Date</label>
    <select name="start-date-select" id="start-date-select">
        <option value="nov 1">nov 1</option>
        <option value="nov 2">nov 2</option>
        <option value="nov 3">nov 3</option>
        <option value="nov 4">nov 4</option>
        <option value="nov 5">nov 5</option>
        <option value="nov 6">nov 6</option>
        <option value="nov 7">nov 7</option>
        <option value="nov 8">nov 8</option>
        <option value="nov 9">nov 9</option>
        <option value="nov 10">nov 10</option>
        <option value="nov 11">nov 11</option>
        <option value="nov 12">nov 12</option>
        <option value="nov 13">nov 13</option>
        <option value="nov 14">nov 14</option>
        <option value="nov 15">nov 15</option>
        <option value="nov 16">nov 16</option>
        <option value="nov 17">nov 17</option>
        <option value="nov 18">nov 18</option>
        <option value="nov 19">nov 19</option>
        <option value="nov 20">nov 20</option>
        <option value="nov 21">nov 21</option>
        <option value="nov 21">nov 22</option>
        <option value="nov 23">nov 23</option>
        <option value="nov 24">nov 24</option>
        <option value="nov 25">nov 25</option>
        <option value="nov 26">nov 26</option>
        <option value="nov 27">nov 27</option>
        <option value="nov 28">nov 28</option>
        <option value="nov 29">nov 29</option>
    </select>
    <label class="control-label">End Date</label>
    <select name="End-date-select" id="End-date-select">
        <option value="nov 1">nov 1</option>
        <option value="nov 2">nov 2</option>
        <option value="nov 3">nov 3</option>
        <option value="nov 4">nov 4</option>
        <option value="nov 5">nov 5</option>
        <option value="nov 6">nov 6</option>
        <option value="nov 7">nov 7</option>
        <option value="nov 8">nov 8</option>
        <option value="nov 9">nov 9</option>
        <option value="nov 10">nov 10</option>
        <option value="nov 11">nov 11</option>
        <option value="nov 12">nov 12</option>
        <option value="nov 13">nov 13</option>
        <option value="nov 14">nov 14</option>
        <option value="nov 15">nov 15</option>
        <option value="nov 16">nov 16</option>
        <option value="nov 17">nov 17</option>
        <option value="nov 18">nov 18</option>
        <option value="nov 19">nov 19</option>
        <option value="nov 20">nov 20</option>
        <option value="nov 21">nov 21</option>
        <option value="nov 21">nov 22</option>
        <option value="nov 23">nov 23</option>
        <option value="nov 24">nov 24</option>
        <option value="nov 25">nov 25</option>
        <option value="nov 26">nov 26</option>
        <option value="nov 27">nov 27</option>
        <option value="nov 28">nov 28</option>
        <option value="nov 29">nov 29</option>
    </select>
    <label class="control-label">Select Class</label>
    <select name="class-select" id="class-select">
        <option value="CS1400">CS 1400</option>
        <option value="CS1410">CS 1410</option>
        <option value="CS1420">CS 1420</option>
        <option value="CS2100">CS 2100</option>
        <option value="CS2420">CS 2420</option>
        <option value="CS3100">CS 3100</option>
        <option value="CS3200">CS 3200</option>
        <option value="CS3500">CS 3500</option>
        <option value="CS4150">CS 4150</option>
        <option value="CS4400">CS 4400</option>
        <option value="CS4480">CS 4480</option>
        <option value="CS4500">CS 4500</option>
        <option value="CS4530">CS 4530</option>
    </select>
    <br>
    <button type="button" id="chartButton" class="btn btn-primary" onclick="buildChart()">Get Data</button>
</div>
<div id="enrollment-chart">
    <!--a place to put the chart after calling the js function-->
</div>
<div id="dom-data">
    <!--a place to put the required data-->
</div>
